<h1>All Planets</h1>

<ul>
  <% @planets.each do |planet| %>
    <li>
      <a href="/planets/<%= planet.id %>"><%= planet.name %></a>
      has <%= pluralize(planet.moons, 'moon') %>.
    </li>
  <% end %>
</ul>