<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Backbone Model Example </title>
</head>
<body>

  <nav>
    <a href="#">Home</a>
  </nav>

  <div id="main"></div>

  <script id="appView" type="text/template">
    <h1>My Blog With All My Feelings</h1>
    <h2>Recent Posts</h2>
    <ul id="posts"></ul>
  </script>

  <script id="postView" type="text/template">
    <h1><%= title %></h1>
    <h2><%= author %></h2>
    <p><%= content %></p>
  </script>

  <script src="js/jquery.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/main.js"></script>
</body>
</html>