<div id="main"></div>

<script type="html/template" id="appViewTemplate">
  <h1>Secrets</h1>

  <div id="secretForm">
    Form goes here.
  </div>

  <ul id="secrets">
    Secrets go here.
  </ul>
</script>

<script type="html/template" id="secretInputViewTemplate">
  <textarea placeholder="Tell us your secrets" autofocus></textarea>
  <button>Submit</button>
</script>