<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout Example</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <header>
      <h1>Layout Example</h1>
    </header>

    <article>
      <h2>Lorem Ipsum</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, ullam, voluptatem! Officiis eligendi, hic totam aperiam fuga inventore earum tenetur iste et suscipit possimus tempore id voluptates dolor dicta iusto.</p>
      <p>Accusamus nisi, optio est quae debitis corporis. Aliquid mollitia, animi atque rem ea obcaecati illum, assumenda accusantium culpa quos facere. Voluptates nihil veniam esse excepturi saepe ea reprehenderit, in hic.</p>
      <p>Quaerat doloremque esse iure, et ipsum voluptas officiis distinctio? Mollitia saepe fugit voluptates! Sequi unde autem eveniet corrupti excepturi dolor velit accusantium. Non, nulla rem, explicabo dolore reiciendis a culpa.</p>
      <p>Atque adipisci eum impedit fugiat, culpa esse rem blanditiis, vitae officiis aspernatur, doloribus cupiditate, exercitationem voluptatem porro itaque provident non quis aliquam saepe error fugit. Modi repudiandae est accusantium dolorum.</p>
    </article>

    <aside>
      <ul>
        <li><a href="">Hello World</a></li>
        <li><a href="">Hello World</a></li>
        <li><a href="">Hello World</a></li>
        <li><a href="">Hello World</a></li>
        <li><a href="">Hello World</a></li>
        <li><a href="">Hello World</a></li>
        <li><a href="">Hello World</a></li>
      </ul>
    </aside>

  </div>

</body>
</html>












