<div class="row">
  <div class="col-md-4 col-md-push-8">
    <ul>
      <li><a href="">Groucho</a></li>
      <li><a href="">Harpo</a></li>
      <li><a href="">Chico</a></li>
      <li><a href="">Site</a></li>
      <li><a href="">Site</a></li>
      <li><a href="">Site</a></li>
      <li><a href="">Site</a></li>
      <li><a href="">Site</a></li>
    </ul>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat aliquid non, atque fuga animi placeat maxime ullam numquam, iste, tempore illo exercitationem id voluptate. Incidunt nisi ducimus distinctio accusantium, illum!</p>
    <p>Asperiores sed iste, modi voluptatum temporibus ullam similique aliquid dolore, perferendis aspernatur nulla vel, commodi quisquam nemo minus autem. Quasi architecto consequatur, incidunt error maiores voluptatibus quidem earum harum nulla.</p>
    <p>Nemo temporibus labore, provident praesentium dicta id voluptas, eius? Repellat, nam, dolore. Rem suscipit, delectus, architecto aliquid quam natus accusantium blanditiis repudiandae facere ad neque obcaecati. Amet, magnam sapiente dolorum.</p>
  </div>
</div>