<h1>Welcome To Calc</h1>

<form action="/calc">

  <input type="number" name="first" placeholder="First number">
  <input type="text" name="operator" placeholder="Operator: + or - or * or /">
  <input type="number" name="second" placeholder="Second number">
  
  <button>Calculate</button>

</form>