<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <div class="container">

    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/calc/multiply/23/3">Multiply</a>
    </nav>

    <%= yield %>

    <footer>
      &copy; Copyright Coldhead 2015 -- Give me your $$
    </footer>

  </div>

</body>
</html>