<h1>My Blog</h1>

<div class="notification">
  Please be aware of some thing.
</div>

<div class="error">
  Oh no! Some thing happened!
</div>

<div class="success">
  Hooray! A good thing happened!
</div>

<div class="post">
  <p class="author">Biggles</p>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit sint qui quia recusandae ipsa commodi, id debitis cum incidunt odio neque repellendus eum molestiae ea inventore a animi, atque maiores.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur corrupti animi numquam fuga tenetur atque eveniet et soluta quis quas. Magni distinctio fugiat atque quam, neque totam quasi, dicta omnis.</p>
  </div>

</div>

<div class="post">
  <p class="author">Biggles</p>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit sint qui quia recusandae ipsa commodi, id debitis cum incidunt odio neque repellendus eum molestiae ea inventore a animi, atque maiores.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur corrupti animi numquam fuga tenetur atque eveniet et soluta quis quas. Magni distinctio fugiat atque quam, neque totam quasi, dicta omnis.</p>
  </div>

</div>

<div class="post">
  <p class="author">Biggles</p>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit sint qui quia recusandae ipsa commodi, id debitis cum incidunt odio neque repellendus eum molestiae ea inventore a animi, atque maiores.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur corrupti animi numquam fuga tenetur atque eveniet et soluta quis quas. Magni distinctio fugiat atque quam, neque totam quasi, dicta omnis.</p>
  </div>

</div>