<h2>New Plant</h2>
<form action="/plants" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" required>
  <label for="">Image:</label>
  <input type="url" name="image">

  <button>Create plant</button>
</form>