<h1>Paintr</h1>

<button id="clear">Clear</button>

<input type="url" placeholder="http://fillmurray.com/400/400">
<button id="add_bg">Add background</button>

<input type="color" id="color" placeholder="#fedead" value="#ffffff">
<button id="add">Add</button>

<div id="palette"></div>

<div id="selected"></div>

<div id="canvas">
</div>