<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Lookup</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <div class="container">

    <h1>SOMETHING ABOUT MONEY</h1>

    <%= yield %>

  </div>
</body>
</html>