<!DOCTYPE html>
<html>
<head>
  <title>Tubgirl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <a href="/groucho">Groucho</a>
  <a href="/harpo">Harpo</a>
  <a href="/chico">Chico</a>
  <a href="/zeppo">Zeppo</a>
  <a href="/gummo">Gummo</a>
</nav>


<%= yield %>

</body>
</html>
