<form action="/butterflies/<%= @butterfly['id'] %>" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="<%= @butterfly['name'] %>">
  <label for="">Family:</label>
  <input type="text" name="family" value="<%= @butterfly['family'] %>">
  <label for="">Image:</label>
  <input type="url" name="image" value="<%= @butterfly['image'] %>">

  <button>Update butterfly</button>
</form>